<?xml version='1.0'?>
<!DOCTYPE PZMAP SYSTEM	"flatpack.dtd" >
<PZMAP>
    <COLUMN name="assmtSession" length="6" />
    <COLUMN name="assmtCode" length="5" />
    <COLUMN name="formCode" length="1" />
    <COLUMN name="quesNumber" length="2" />
    <COLUMN name="itemType" length="12" />
    <COLUMN name="mcAnswer" length="150" />
    <COLUMN name="mark" length="2" />
    <COLUMN name="cognLevel" length="4" />
    <COLUMN name="taskCode" length="2" />
    <COLUMN name="claimCode" length="3" />
    <COLUMN name="contextCode" length="1" />
    <COLUMN name="conceptsCode" length="3" />
    <COLUMN name="topicType" length="1" />
    <COLUMN name="scaleFactor" length="8" />
    <COLUMN name="quesOrigin" length="160" />
    <COLUMN name="item" length="4" />
    <COLUMN name="irt" length="3" />
    <COLUMN name="assmtSection" length="8" />
</PZMAP>
